
// ----- Utility -----
$margin-small: 2rem;
$margin-medium: 4rem;
$margin-large: 8rem;

$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 4rem;

// ----- Colors -----
$color-darker: #111;
$color-dark:#191919;

$color-dark-hover: #1919197a;

$color-grey: #3b3535;

$color-lighter:#f4f4f4;
$color-light: #e6e2d9;

$color-primary: #2D4263;
$color-secondary: #C84B31;

$color-link: #74180c;
$color-invalid: #c21414;
$color-valid: #0d4b11a9;
$color-focus: #1f4d96;

// ----- border-radius -----

$radius-small: 7px;
$radius-medium: 15px;